.cards{
    display: flex;
    flex-direction: column;
    background-color: var(--grey-0);
    border-radius: .5em;
    outline: 2px solid var(--grey-20);
    margin: 1em;
    align-items: center;
}

.cards div{
    background-color: white;
    padding: 0 1em 1em 1em;
    width: 240px;
}

.cards small{
    color: rgba(0,0,0,.5);
}

.cards div p{
    color: var(--Positive);
    font-weight: bold;
}

.cards div button{
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: .5em;
    padding: 1em 1.5em;
    margin-top: 1em;
}

.cards div button:hover{
    background-color: var(--color-primary-50);
}